*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none;
    list-style-type: none;
}
@import './components';
@import './variable';

// Initials
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.section-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-transform: capitalize;
    color: $blue;
}
.section-prg{
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: $grey;
}



//Main
.main{
    background: url('../images/bg-web.png');
    background-position: center;
    background-repeat: no-repeat;
    .intro{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        padding-bottom: 80px;
        .intro-img{
            flex-basis: 50%;

        }
        .intro-text{
            flex-basis: 50%;
            &__title{
                font-weight: 900;
                font-size: 200px;
                line-height: 158px;
                text-transform: capitalize;
                color: $blue;
                opacity: 0.05;
                padding-top: 80px;
            }
            &__label{
                font-size: 58px;
                line-height: 60px;
                text-transform: capitalize;
                color: $blue;
            }
            .search-form{
                margin: 40px 0;
            }
        }
        .intro-img{
            position: relative;
            background-image: url('../images/Make\ Vector\ BG.png');
            background-position: bottom left;
            background-repeat: no-repeat;
            &__main{
                width: 100%;
            }
            &__carusel{
                display: flex;
                gap: 20px;
                justify-content: flex-end;
                button{
                    background: none;
                    border: none;
                    outline: none;
                }
            }
            
        }
    }
    .burger-menu, .cancel-btn{
        display: none;
    }
}

// Restaurants
.res-menu{
    padding: 60px 0;
    background-color: $whiter;
    &__info{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        .section-title, .section-prg{
            flex-basis: 50%;
        }
        .section-title{
            padding-left: 24px;
            border-left: 18px solid #35CD8C;
            font-size: 44px;
        }
    }
    &__box{
        background: url('../images/Make\ Vector\ BG.png');
        background-position: top left;
        background-position-y: 30px;
        background-repeat: no-repeat;
        padding: 100px 0;
        display: flex;
        align-items: center;
        gap: 40px;
        .food{
            flex-basis: 40%;
        }
    }
}

// Services
.services{
    background: #FFF5EC url('../images/Vector.png');
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position-y: 20rem;
    &-info{
        display: flex;
        align-items: center;
        .section-title{
            flex-basis: 40%;
            padding-left: 24px;
            border-left: 18px solid #35CD8C;
        }
        .section-prg{
            flex-basis: 60%;
        }
    }
    .container > .row{
        gap: 60px;
        padding: 200px 0;
    }
}
.row{
    display: flex;
    align-items: center;
}
.col-60{
    flex-basis: 50%;
    .right-arrow{
        position: relative;
        right: 20px;
    }
    .left-arrow{
        position: relative;
        right: -20px;
    }
}
.col-40{
    flex-basis: 50%;
    svg{
        width: 100%;
    }
}
.col svg{
    width: 100%;
}
.col-50{
    flex-basis: 50%;
}

// Meal menu
.meals{
    padding:0 0 100px;
    background: $whiter;
    .section-title, .section-prg{
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .section-prg{
        padding: 30px 0 60px;
    }
    .row{
        gap: 60px 30px;
        flex-wrap: wrap;
        justify-content: center;
        .meal{
            flex-basis: 30%;
        }
    }
}

//Apps
.apps{
    // background: $whiter;
    position: relative;
    padding: 60px;
    .ot{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -2;
        width: 40%;
        opacity: 0.4;
    }
    .section-title{
        padding-left: 24px;
        border-left: 18px solid #35CD8C;
    }
    .section-prg{
        padding: 30px 0;
    }
    .col-50 > .row{
        gap: 20px;
    }
    .iphone{
        position: relative;
        width: 70%;
        margin: auto;
        img{
            width: 100%;
        }
        .kkat{
            position: absolute;
            left: -160px;
            bottom: 36px;
            z-index: -1;
        }
    }
}




// Media
@media screen and (max-width:1279px) {
    .container {
        max-width: 980px
    }
    .main{
        background: url('../images/BG\ \(1\).png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header{
        .navbar{
            background-color: $whiter;
            padding: 200px 0;
            flex-direction: column;
            position: fixed;
            min-width: 100vw;
            left: -5000px;
            top: 0;
            min-height: 100vh;
            gap: 60px;
            z-index: 10;
            transition: 0.8s ease-in-out;
            .nav-link{
                font-size: 36px;
                line-height: 40px;
                color: $green;
                
            }
            .cancel-btn{
                display: inline-block;
                position: absolute;
                top: 36px;
                font-size: 36px;
                right: 36px;
                color: $green;
            }
        }
        .burger-menu{
            display: block;
        }
        .user{
            display: none;
        }
    }
    .intro-img__carusel{
        position: relative;
        bottom: -80px;
    }
    .main .intro .intro-text__title{
        font-size: 150px;
    }
    .main .intro .intro-text__label{
        font-size: 60px;
    }
    .food .food-information{
        height: 55%;
    }
    .meals .row .meal{
        flex-basis: 46%;
    }
    .meal .meal-information .meal-label{
        width: auto;
    }
    .apps .iphone .kkat{
        left: -130px;
    }
}
@media screen and (max-width:979px) {
    .container {
        max-width: 90%
    }
}
@media screen and (max-width:752px){
    .main{
        background: url('../images/BG\ \(2\).png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main .intro{
        flex-direction: column;
    }
    .main .intro .intro-text__title{
        font-size: 100px;
        line-height: 100px
    }
    .main .intro .intro-text__label{
        font-size: 36px;
        line-height: 48px;
    }
    .header .logo svg{
        width: 60%;
    }
    .intro-img__carusel{
        position: initial;
        gap: 10px;
    }
    .section-title{
        font-size: 36px;
        line-height: 48px
    }
    .section-prg{
        font-size: 14px;
        line-height: 24px;
    }
    .res-menu__info, .res-menu__box, .services-info, .services .container > .row{
        flex-direction: column;
    }
    .food{
        width: 70%;
    }
    .services-info{
        gap: 20px; 
        align-items: initial;
    }
    .services .container > .row{
        padding: 30px 0;
    }
    .col-40{
        width: 100%;
    }
    .services{
        padding: 0;
    }
    .meals .section-title, .meals .section-prg{
        width: 100%;
    }
    .meals .row .meal{
        flex-basis: 90%;
    }
    .apps .row{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:450px){
    .intro-text{
        text-align: center;
    }
    .search-form{
        flex-direction: column;
        border-radius: 10px;
        button{
            border-radius: 74px 74px 16px 16px;
        }
    }
    .intro-img__carusel{
        position: relative;
        gap: 4px !important;
        bottom: -70px;
    }
    .section-title{
        font-size: 27px !important;
        line-height: 34px
    }
    .food{
        width: 100%;
        &-information{
            height: 60% !important;
            padding: 30px !important;
        }
    }
    .food .food-information .food-location .food-add {
        padding: 8px 36px;
        right: -30px;
        bottom: -5px;
    }
    .col{
        flex-wrap: wrap;
        gap: 30px;
    }
    .col-60 .right-arrow, .col-60 .left-arrow{
        position: initial;
    }
    .col:nth-child(2){
        flex-direction: column-reverse;
        padding: 30px 0;
    }
    .col-40 svg{
        height: initial;
        padding-bottom: 30px;
    }
    .apps .iphone .kkat {
        left: -80px;
    }
}

