* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header .navbar .nav-link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2E266F;
}

.header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .user-image {
  width: 52px;
  height: 52px;
}

.header .user-image img {
  width: 100%;
  border-radius: 50%;
}

.header .user-name {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form {
  background: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 8px solid #ffffff;
}

.search-form input {
  padding: 28px 20px 28px 40px;
  font-size: 20px;
  border: none;
  outline: none;
}

.search-form input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2E266F;
  opacity: 0.6;
}

.search-form input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2E266F;
  opacity: 0.6;
}

.search-form input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2E266F;
  opacity: 0.6;
}

.search-form input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2E266F;
  opacity: 0.6;
}

.search-form button {
  font-family: 'Poppins', sans-serif;
  padding: 20px 76px;
  border: none;
  border-radius: 74px 0 0 0;
  background-color: #35CD8C;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.food {
  position: relative;
  width: 40%;
}

.food img {
  width: 100%;
}

.food .food-information {
  position: absolute;
  bottom: 3px;
  height: 40%;
  width: 100%;
  background-color: #35cd8cb3;
  border-radius: 16px;
  padding: 30px 50px;
  color: #FFFFFF;
}

.food .food-information .food-title {
  opacity: 1;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.food .food-information .food-label {
  padding: 20px 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.food .food-information .food-location {
  position: relative;
}

.food .food-information .food-location svg {
  vertical-align: middle;
  margin-right: 10px;
}

.food .food-information .food-location .food-add {
  padding: 16px 64px;
  background-color: #FFFFFF;
  color: #35CD8C;
  position: absolute;
  right: -50px;
  bottom: -10px;
  border-radius: 50px 0 0 50px;
  font-size: 16px;
  line-height: 24px;
}

.meal {
  display: inline-block;
}

.meal .meal-img {
  width: 100%;
}

.meal .meal-information {
  padding: 30px;
  border-radius: 0 0 20px 20px;
  background-color: #FFFFFF;
}

.meal .meal-information div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meal .meal-information .meal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: #2E266F;
}

.meal .meal-information .meal-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: #35CD8C;
}

.meal .meal-information .meal-label {
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #707070;
  padding-top: 20px;
  width: 70%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.section-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  text-transform: capitalize;
  color: #2E266F;
}

.section-prg {
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #707070;
}

.main {
  background: url("../images/bg-web.png");
  background-position: center;
  background-repeat: no-repeat;
}

.main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding-bottom: 80px;
}

.main .intro .intro-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main .intro .intro-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main .intro .intro-text__title {
  font-weight: 900;
  font-size: 200px;
  line-height: 158px;
  text-transform: capitalize;
  color: #2E266F;
  opacity: 0.05;
  padding-top: 80px;
}

.main .intro .intro-text__label {
  font-size: 58px;
  line-height: 60px;
  text-transform: capitalize;
  color: #2E266F;
}

.main .intro .intro-text .search-form {
  margin: 40px 0;
}

.main .intro .intro-img {
  position: relative;
  background-image: url("../images/Make Vector BG.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.main .intro .intro-img__main {
  width: 100%;
}

.main .intro .intro-img__carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .intro .intro-img__carusel button {
  background: none;
  border: none;
  outline: none;
}

.main .burger-menu, .main .cancel-btn {
  display: none;
}

.res-menu {
  padding: 60px 0;
  background-color: #FFF5EC;
}

.res-menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.res-menu__info .section-title, .res-menu__info .section-prg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.res-menu__info .section-title {
  padding-left: 24px;
  border-left: 18px solid #35CD8C;
  font-size: 44px;
}

.res-menu__box {
  background: url("../images/Make Vector BG.png");
  background-position: top left;
  background-position-y: 30px;
  background-repeat: no-repeat;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.res-menu__box .food {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.services {
  background: #FFF5EC url("../images/Vector.png");
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position-y: 20rem;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-info .section-title {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-left: 24px;
  border-left: 18px solid #35CD8C;
}

.services-info .section-prg {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.services .container > .row {
  gap: 60px;
  padding: 200px 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-60 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-60 .right-arrow {
  position: relative;
  right: 20px;
}

.col-60 .left-arrow {
  position: relative;
  right: -20px;
}

.col-40 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-40 svg {
  width: 100%;
}

.col svg {
  width: 100%;
}

.col-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.meals {
  padding: 0 0 100px;
  background: #FFF5EC;
}

.meals .section-title, .meals .section-prg {
  text-align: center;
  width: 50%;
  margin: auto;
}

.meals .section-prg {
  padding: 30px 0 60px;
}

.meals .row {
  gap: 60px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meals .row .meal {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.apps {
  position: relative;
  padding: 60px;
}

.apps .ot {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
  width: 40%;
  opacity: 0.4;
}

.apps .section-title {
  padding-left: 24px;
  border-left: 18px solid #35CD8C;
}

.apps .section-prg {
  padding: 30px 0;
}

.apps .col-50 > .row {
  gap: 20px;
}

.apps .iphone {
  position: relative;
  width: 70%;
  margin: auto;
}

.apps .iphone img {
  width: 100%;
}

.apps .iphone .kkat {
  position: absolute;
  left: -160px;
  bottom: 36px;
  z-index: -1;
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 980px;
  }
  .main {
    background: url("../images/BG (1).png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header .navbar {
    background-color: #FFF5EC;
    padding: 200px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed !important;
    min-width: 100vw;
    left: -5000px;
    top: 0;
    min-height: 100vh;
    gap: 60px;
    z-index: 10;
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }
  .header .navbar .nav-link {
    font-size: 36px;
    line-height: 40px;
    color: #31A24C;
  }
  .header .navbar .cancel-btn {
    display: inline-block;
    position: absolute;
    top: 36px;
    font-size: 36px;
    right: 36px;
    color: #31A24C;
  }
  .header .burger-menu {
    display: block;
  }
  .header .user {
    display: none;
  }
  .intro-img__carusel {
    position: relative;
    bottom: -80px;
  }
  .main .intro .intro-text__title {
    font-size: 150px;
  }
  .main .intro .intro-text__label {
    font-size: 60px;
  }
  .food .food-information {
    height: 55%;
  }
  .meals .row .meal {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
  .meal .meal-information .meal-label {
    width: auto;
  }
  .apps .iphone .kkat {
    left: -130px;
  }
}

@media screen and (max-width: 979px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 752px) {
  .main {
    background: url("../images/BG (2).png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .intro .intro-text__title {
    font-size: 100px;
    line-height: 100px;
  }
  .main .intro .intro-text__label {
    font-size: 36px;
    line-height: 48px;
  }
  .header .logo svg {
    width: 60%;
  }
  .intro-img__carusel {
    position: initial;
    gap: 10px;
  }
  .section-title {
    font-size: 36px;
    line-height: 48px;
  }
  .section-prg {
    font-size: 14px;
    line-height: 24px;
  }
  .res-menu__info, .res-menu__box, .services-info, .services .container > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .food {
    width: 70%;
  }
  .services-info {
    gap: 20px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .services .container > .row {
    padding: 30px 0;
  }
  .col-40 {
    width: 100%;
  }
  .services {
    padding: 0;
  }
  .meals .section-title, .meals .section-prg {
    width: 100%;
  }
  .meals .row .meal {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .apps .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 450px) {
  .intro-text {
    text-align: center;
  }
  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
  }
  .search-form button {
    border-radius: 74px 74px 16px 16px;
  }
  .intro-img__carusel {
    position: relative;
    gap: 4px !important;
    bottom: -70px;
  }
  .section-title {
    font-size: 27px !important;
    line-height: 34px;
  }
  .food {
    width: 100%;
  }
  .food-information {
    height: 60% !important;
    padding: 30px !important;
  }
  .food .food-information .food-location .food-add {
    padding: 8px 36px;
    right: -30px;
    bottom: -5px;
  }
  .col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .col-60 .right-arrow, .col-60 .left-arrow {
    position: initial;
  }
  .col:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 30px 0;
  }
  .col-40 svg {
    height: initial;
    padding-bottom: 30px;
  }
  .apps .iphone .kkat {
    left: -80px;
  }
}

.loaders {
  top: 0;
  z-index: 10;
  left: 0;
  background: #fff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

@-webkit-keyframes dots-loader {
  0% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

@keyframes dots-loader {
  0% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

/* :not(:required) hides this rule from IE9 and below */
.dots-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 100%;
  -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  -webkit-animation: dots-loader 5s infinite ease-in-out;
  animation: dots-loader 5s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/*# sourceMappingURL=main.css.map */